<!DOCTYPE html>
<html>
<head>
    <title>CRUD Transfert</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
<div class="mb-3">

</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <button data-toggle="modal" data-target="#insert-modal" class="btn btn-success">Add Transfert</button>
        </div>
    </div>
</div>
<br>
<h3>List of Transfert</h3>
<br>
<table class="table">
    <thead id="table-head">
        <tr>
			<th> Montantenvoye </th>
			<th> Date </th>
			<th> Idcompte </th>
			<th> Montantrecu </th>
			<th> Description </th>
			<th> Id </th>
			<th> Destinataire </th>
			<th> Devise </th>
			<th> Envoyeur </th>

            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="table-body">

    </tbody>
</table>

<div class="modal fade" id="insert-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Transfert</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="insert">
	<div class="mb-3"> 
	 	<label class="form-label">Montantenvoye</label> 
	 	<input class="form-control" type="number" name="montantenvoye" >
	</div>
	<div class="mb-3"> 
	 	<label class="form-label">Date</label> 
	 	<input class="form-control" type="Date" name="date" >
	</div>
	<div  class="mb-3"> 
	 	<label class="form-label">id</label> 
	 	<select class="form-control" name="compte" id="select-compte">
			<script>
			$.ajax({
				url: 'http://localhost:5241/api/compte',
				type: 'GET',
				success: function(data) {
					var keys = Object.keys(data[0]);
					var select = $("#select-compte");
					for (let i = 0; i < data.length; i++) { 
						var option = `<option value=`+data[i]["id"]+`>`+data[i]["#attibute#"]+`</option>`;
						select.append(option);
					}
				}
			})
			</script>
		</select>
	</div><div class="mb-3"> 
	 	<label class="form-label">Montantrecu</label> 
	 	<input class="form-control" type="number" name="montantrecu" >
	</div>
	<div class="mb-3"> 
	 	<label class="form-label">Description</label> 
	 	<input class="form-control" type="text" name="description" >
	</div>
	<div class="mb-3"> 
	 	<label class="form-label">Destinataire</label> 
	 	<input class="form-control" type="number" name="destinataire" >
	</div>
	<div class="mb-3"> 
	 	<label class="form-label">Devise</label> 
	 	<input class="form-control" type="number" name="devise" >
	</div>
	<div class="mb-3"> 
	 	<label class="form-label">Envoyeur</label> 
	 	<input class="form-control" type="number" name="envoyeur" >
	</div>
	
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="insert-button" class="btn btn-success" data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>

</body>
<script>
    $.ajax({
        url: 'http://localhost:5241/api/[transfert]',
        type: 'GET',
        success: function(data) {
            //console.log(data)
            var keys = Object.keys(data[0]); // Prend les clés du premier objet de data
            var tbody = $('#table-body');
            var add_form = $('#insert');


            // Boucle sur les données pour le tbody
            for (let i = 0; i < data.length; i++) {
                var tr = $('<tr></tr>');
				tr.append('<td>' + data[i].montantenvoye + '</td>');
				tr.append('<td>' + data[i].date + '</td>');
				tr.append('<td>' + data[i].compte. + '</td>');
				tr.append('<td>' + data[i].montantrecu + '</td>');
				tr.append('<td>' + data[i].description + '</td>');
				tr.append('<td>' + data[i].id + '</td>');
				tr.append('<td>' + data[i].destinataire + '</td>');
				tr.append('<td>' + data[i].devise + '</td>');
				tr.append('<td>' + data[i].envoyeur + '</td>');

                var update_modal = `
                <div class="modal fade" id="updatemodal-`+data[i]["id"]+`" role="dialog">
                    <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Update Transfert</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="put" id="update-`+data[i]["id"]+`">
	<div class="mb-3"> 
	 	<label class="form-label">Montantenvoye</label> 
	 	<input class="form-control" type="number" name="montantenvoye" value="`+data[i]["montantenvoye"]+`">
	</div>
	<div class="mb-3"> 
	 	<label class="form-label">Date</label> 
	 	<input class="form-control" type="Date" name="date" value="`+data[i]["date"]+`">
	</div>
	<div class="mb-3"> 
	 	<label class="form-label">id</label> 
	 	<select class="form-control" name="compte" id="select-compte-`+data[i]["id"]+`"></select>
	</div><div class="mb-3"> 
	 	<label class="form-label">Montantrecu</label> 
	 	<input class="form-control" type="number" name="montantrecu" value="`+data[i]["montantrecu"]+`">
	</div>
	<div class="mb-3"> 
	 	<label class="form-label">Description</label> 
	 	<input class="form-control" type="text" name="description" value="`+data[i]["description"]+`">
	</div>
	<div class="mb-3"> 
	 	<label class="form-label"></label> 
	 	<input class="form-control" type="hidden" name="id" value="`+data[i]["id"]+`">
	</div>
	<div class="mb-3"> 
	 	<label class="form-label">Destinataire</label> 
	 	<input class="form-control" type="number" name="destinataire" value="`+data[i]["destinataire"]+`">
	</div>
	<div class="mb-3"> 
	 	<label class="form-label">Devise</label> 
	 	<input class="form-control" type="number" name="devise" value="`+data[i]["devise"]+`">
	</div>
	<div class="mb-3"> 
	 	<label class="form-label">Envoyeur</label> 
	 	<input class="form-control" type="number" name="envoyeur" value="`+data[i]["envoyeur"]+`">
	</div>
	                                
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" id="update-button-`+data[i]["id"]+`" data-dismiss="modal">Update</button>
                        </div>
                    </div>
                    </div>
                </div>`;
                tr.append('<td><button id="delete-'+data[i]["id"]+'" class="btn btn-danger">Delete</button></td>');
                tr.append('<td><button data-toggle="modal" data-target="#updatemodal-'+data[i]["id"]+'" id="update-button-'+data[i]["id"]+'" class="btn btn-primary">Update</button></td>');
                
                tbody.append(tr)
                tbody.append(update_modal);
	$.ajax({
		url: 'http://localhost:5241/api/compte',
		type: 'GET',
		success: function(dataCompte) {
			var keys = Object.keys(dataCompte[0]);
			var select = $("#select-compte-"+data[i]["id"]);
			for (let j = 0; j < dataCompte.length; j++) { 
				var option = `<option value=`+dataCompte[j]["id"]+`>`+dataCompte[j][""]+`</option>`;
				select.append(option);
			}
		}
	});
	
                $('#delete-'+data[i]["id"]).click(function() {
                    var d = data[i]
                    $.ajax({
                        url: 'http://localhost:5241/api/[transfert]',
                        type: 'DELETE',
                        data: JSON.stringify(d),
                        contentType: 'application/json',
                        success: function(result) {
                            location.reload();
                        },
                        error: function(error) {
                            console.log('Erreur : ', error);
                        }
                    });
                });
                $('#update-button-'+data[i]["id"]).click(function() {
                    var d = $('#update-'+data[i]["id"]).serializeArray();
                    var datas = {};
                    console.log(d);
                    d.forEach(element => {
                        var inputElements = $('#update-' + data[i]["id"] + ' [name="' + element.name + '"]');
                        if (inputElements.is('select')) {
                            // Handle select element differently
                            datas[element.name] = { id : element.value };
                        } else {
                            datas[element.name] = element.value;
                        }
                    });
                    $.ajax({
                        url: 'http://localhost:5241/api/[transfert]',
                        type: 'PUT',
                        data: JSON.stringify(datas),
                        contentType: 'application/json',
                        success: function(result) {
                            location.reload();
                        },
                        error: function(error) {
                            console.log('Erreur : ', error);
                        }
                    });
                });
            }
        },
        error: function(error) {
            console.log('Erreur : ', error);
        }
    });

</script>
<script>
    $('#insert-button').click(function() {
        var d = $('#insert').serializeArray();
        var data = {};
        console.log(d);
        d.forEach(element => {
            var inputElements = $('#insert [name="' + element.name + '"]');
            if (inputElements.is('select')) {
                // Handle select element differently
                data[element.name] = { id : element.value };
            } else {
                data[element.name] = element.value;
            }
        });
        $.ajax({
            url: 'http://localhost:5241/api/[transfert]',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function(result) {
                location.reload();
            },
            error: function(error) {
                console.log('Erreur : ', error);
            }
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</html>
